@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.page-container {
  @apply w-full mx-auto max-w-[85%] md:max-w-[90%] lg:max-w-[95%];

  .page-container {
    max-width: 100%;
  }
}

.page-wrapper {
  @apply w-full max-w-[85%] md:max-w-[90%] lg:max-w-[95%];

  .page-container {
    max-width: 100%;
  }
}
body {
  font-family: var(--defaultFont);
  background: #f1f1f1;
  text-decoration: none;
}
@font-face {
  font-family: "Uncut Sans";
  src: url(@/assets/scss/UNCUT-SANS-BOLD.woff) format("woff");
  src: url(@/assets/scss/UNCUT-SANS-BOLDOBLIQUE.woff) format("woff");
  src: url(@/assets/scss/UNCUT-SANS-MEDIUM.woff) format("woff");
  src: url(@/assets/scss/UNCUT-SANS-MEDIUMOBLIQUE.woff) format("woff");
  src: url(@/assets/scss/UNCUT-SANS-REGULAR.woff) format("woff");
  src: url(@/assets/scss/UNCUT-SANS-REGULAROBLIQUE.woff) format("woff");
  src: url(@/assets/scss/UNCUT-SANS-SEMIBOLD.woff) format("woff");
  src: url(@/assets/scss/UNCUT-SANS-SEMIBOLDOBLIQUE.woff) format("woff");
}

@font-face {
  font-family: "Perpetua";
  src: url(@/assets/scss/PERPETUA_TITLING_MT_BOLD.woff) format("woff");
  src: url(@/assets/scss/PERPETUA_TITLING_MT_LIGHT.woff) format("woff");
}

:root {
  --defaultFont: Uncut-Sans, sans-serif;
  --secondaryFont: Perpetua, sans-serif;
}
