@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.page-container {
  @apply w-full mx-auto max-w-[85%] md:max-w-[90%] lg:max-w-[95%];

  .page-container {
    max-width: 100%;
  }
}
body {
  font-family: var(--defaultFont);
  background: #f1f1f1;
  text-decoration: none;
}
@font-face {
  font-family: "Uncut Sans";
  src: url(@/fonts/UNCUT-SANS-BOLD.OTF) format("opentype");
  src: url(@/fonts/UNCUT-SANS-BOLDOBLIQUE.OTF) format("opentype");
  src: url(@/fonts/UNCUT-SANS-MEDIUM.OTF) format("opentype");
  src: url(@/fonts/UNCUT-SANS-MEDIUMOBLIQUE.OTF) format("opentype");
  src: url(@/fonts/UNCUT-SANS-REGULAR.OTF) format("opentype");
  src: url(@/fonts/UNCUT-SANS-REGULAROBLIQUE.OTF) format("opentype");
  src: url(@/fonts/UNCUT-SANS-SEMIBOLD.OTF) format("opentype");
  src: url(@/fonts/UNCUT-SANS-SEMIBOLDOBLIQUE.OTF) format("opentype");
}

@font-face {
  font-family: "Perpetua ";
  src: url(@/fonts/PERPETUA_TITLING_MT_BOLD.TTF) format("opentype");
  src: url(@/fonts/PERPETUA_TITLING_MT_LIGHT.TTF) format("truetype");
}

:root {
  --defaultFont: Uncut-Sans, sans-serif;
  --secondaryFont: Perpetua, sans-serif;
}
